*{  
    color: rgb(7, 1, 1);
    background-color:wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 #cityName{

margin: 3px;
padding:5px;
text-align:center;
font-size:20px;
font-weight:bold;
background-color: transparent;
margin-top: 3em;
width: fit-content;
}

#cityInput{
   
    display: flex;
    align-items: center;
    justify-content: center;
    border:none ;
    border-radius: 24px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: white;
    margin-top: -14em;
    height: 1.8em;
    float: right;
    
    }
#inputContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    font-family:cursive;
    font-size:large;
    width: fit-content;
    height: 5em;
    transition: 0.2s;
    margin-right: -20em;
    margin-top: -3.9em;
    float: right;

    }

#weatherContainer{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 650px;
    border: 5px groove black;    
    border-radius: 10px;
    border-width: medium;
    margin-left:3em;
    margin-top: -3em;
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: fit-content;    
    border: 5px black;    
    border-radius: 10px;
    padding: 0;
    border-width: medium;

}

.icons{
    display: inline-bock;
    padding: 0;
    float: left;
    height:min-content;
    width:min-content;
    margin: 5px;
    border: 5px solid black;
    border-radius: 10px;
    border-width: medium;
}

.image{
    height: 80px;
    width: 100%;
    padding: 0;
}

.imgClass{
    height:4em;
    width: 6em;
    position: relative;
    float:left;
  
    margin-top: 2em;
    
}

.weather{
    margin: 1px;
   /*  background-color: rgb(106, 215, 255); */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;

}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    
}



ul {
    list-style-type: none;
    height:3.5em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:wheat;
  }
  
  li {
    float: left;
    color: white;
    
  
  }
  
  li a {
    display: block;
    color:black;
    font-weight: 100;
    font-family:fantasy;
    margin-top: 0.3em;
    letter-spacing: 0.2em;
    text-align: left;
    font-size:larger;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 7em;
  }
  
  li a:hover:not(.active) {
    background-color:#6d9ec9;
    
  }
  
  .active {
    background-color:wheat;
  }
  
  #logo{
    width:3em;
    height:3em;
    display: inline-block;
    position:absolute;
    margin-left: 2em;
    margin-top: -2.8em;
  }
  body {
    background-color:wheat;
  
  }
  ::placeholder {
      color:gray;
      
  }
  button{
  margin: 0.5em;
  border-radius: 50%;
  border:none;
  height: 2.5em;
  width: 2.5em;
  cursor:pointer;
  transition:0.5em ;
  margin-top: -13em;
  background-color: transparent;
  float: right;
  margin-right: -30em;
  
  
}
button:hover{
background:rgb(177, 207, 228) ;
color:blanchedalmond;

}
.flex {
display: flex;
align-items:center ;
}
h1{
    margin-top: 4em;
    float: right;
    margin-right: 15em;
    font-size: medium;

}
#loop {
    width:3em;
    height:1.8em;
    display: inline-block;
    position:absolute;
    margin-left: 60em;
    margin-top: 1em;
  
  }
  h2 {
      margin-left: 27em;
  }